@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <div class="sidebar-brand">finance<span>.</span>track</div>
        <NavMenu />
    </div>
    <main class="main">
        @Body
    </main>
</div>