<nav>
    <div class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            ▦ Dashboard
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="add">
            ＋ Add Transaction
        </NavLink>
    </div>
</nav>